* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-container {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.input-container {
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 300px;
}

.input-container form {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.input-container form input {
  width: 80%;
  height: 3rem;
  border: none;
  border-bottom: 3px solid black;
  outline: none;
}

.input-container form button {
  padding: 1rem 2rem;
  width: max-content;
  border: none;
  border-radius: 1rem;
  background-color: black;
  color: white;
}

.input-container form button:hover {
  cursor: pointer;
}

.output-container {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding: 8px;
  min-width: 300px;
  max-height: 700px;
  overflow-y: scroll;
}

.job-id-container {
  display: flex;
  padding: 15px;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 70%;
  min-height: 8rem;
  background: rgb(227, 251, 227);
}

.turn-to-red {
  border-bottom: 3px solid red !important;
}

.turn-to-green {
  border-bottom: 3px solid rgb(102, 247, 102) !important;
}

.red {
  background-color: red !important;
}

.green {
  background-color: rgb(102, 247, 102) !important;
}
